@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 20px/1.5 Poppins;
}

input,
button,
a {
    font: inherit;
}

body {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #f195b2;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding-bottom: 2em;
}

.contacs ul {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.contacs ul li {
    display: block;
    padding: 0 1.3em;
}

.contacs ul :not(:first-child) {
    border-left: 2px solid;
    line-height: 0.9;
}

.social ul {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.social ul li {
    display: block;
    padding: 0 1.1em;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 35em;
    z-index: 1;
    width: 73%;
    position: absolute;
    top: 104px;
    left: 13.5em;
    padding: 0 7.2em;
}

.navigation ul {
    display: flex;
    gap: 2em;
    font-weight: 700;
}

.navigation ul li {
    display: block;
}
.label {
    padding-top: 1.5em;
}

.big-cream {
    color: #f195b2;
    font-weight: 700;
    font-size: 72px;
}

.dif-color {
    color: #62c3e7;
}

.stay-together {
    display: flex;
    gap: 0.1em;
}

.label {
    width: 100%;
    padding-top: 0;
    position: relative;
    margin-bottom: 0;
}

.label img {
    width: 100%;
    height: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -57%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.center p {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 31px;
}

.center h1 {
    color: #fff;
    font-weight: bold;
    font-size: 105px;
    line-height: 122px;
}

.pink-blue {
    color: #fff;
    background-color: #f195b2;
    padding: 0.6em 0;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 20em;
    font-weight: 500;
    min-width: 8.3em;
}

.mid-line {
    background-color: #aaacb2;
    height: 0.4em;
    width: 100%;
    margin: 0;
    z-index: 4;
    position: absolute;
    top: 63.3em;
}

.about {
    background-color: #c8e7f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6em 13em;
}

.line {
    background-color: #f195b2;
    height: 0.3em;
    width: 8%;
}

.about {
    color: #555555;
}

.about > h2 {
    padding: 0.1em;
    font-size: 2.5em;
}

.three-sections {
    display: flex;
    gap: 1.7em;
    width: 100%;
}

.three-sections h3 {
    font-size: 1.5em;
    padding: 1.5em 0 0.6em 0;
}

.three-sections p {
    padding-bottom: 1em;
}

.darker {
    color: #6c757d;
    font-size: 1.3em;
    font-weight: 700;
    padding-bottom: 1em;
}

.left-part {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.middle {
    flex: 1;
}
.middle > img {
    width: 100%;
    height: auto;
}

.right-part {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-part ul {
    padding-bottom: 0.1em;
}

.right-part li {
    display: flex;
    align-items: center;
    color: #6c757d;
    font-size: 1.3em;
    font-weight: 700;
    padding-bottom: 0.6em;
    gap: 0.4em;
}

.tick {
    width: 22px;
    height: 12px;
    border-left: 5px solid #62c3e7;
    border-bottom: 5px solid #62c3e7;
    transform: rotate(-45deg);
    margin-bottom: 4px;
}

.last-buttons {
    margin-top: 1em;
}
.three-sections a {
    font-size: 1em;
    padding: 0.7em 1.6em;
}

.three-sections .left-part a {
    background-color: #62c3e7;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 6em;
}
footer .social ul {
    gap: 0.4em;
}
footer .social ul > li {
    display: flex;
    border: 4px solid #b0e1f3;
    width: 3em;
    padding: 1em 1.4em;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #62c3e7;
}

.end {
    display: flex;
    gap: 1em;
}

.end h3 {
    color: #555555;
    font-size: 1.3em;
    padding-bottom: 0.5em;
}

.end .left {
    text-align: right;
}

.end .right {
    border-left: 2px solid #88898a;
    padding-left: 1em;
    padding-bottom: 1em;
}

.end p {
    color: #6e6d6d;
}
.end .left address,
.end .right .working-time {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

footer .last-row {
    color: #6e6d6d;
}

.domain {
    color: #f195b2;
}
