@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 20px/1.5 Poppins;
}

input,
button,
a {
    font: inherit;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #f195b2;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding-bottom: 2em;
}

/* .contacs {
} */

.contacs ul {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.contacs ul li {
    display: block;
    padding: 0 1.3em;
}

.contacs ul :not(:first-child) {
    border-left: 2px solid;
    line-height: 0.9;
}

.social ul {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.social ul li {
    display: block;
    padding: 0 1.1em;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 35em;
    z-index: 1;
    width: 73%;
    position: absolute;
    top: 104px;
    left: 13.5em;
    padding: 0 7.2em;
}

.navigation ul {
    display: flex;
    gap: 2em;
    font-weight: 700;
}

.navigation ul li {
    display: block;
}
.label {
    padding-top: 1.5em;
}

.big-cream {
    color: #f195b2;
    font-weight: 700;
    font-size: 72px;
}

.dif-color {
    color: #62c3e7;
}

.stay-together {
    display: flex;
    gap: 0.1em;
}

.label {
    width: 100%;
    padding-top: 0;
    position: relative;
}

.label img {
    width: 100%;
    height: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
