@import url(https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

body {
    position: relative;
}
header {
    margin: 2.4em;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: 600;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4em;
}

nav ul li {
    display: block;
    letter-spacing: 0.1em;
}

.red-color {
    color: #ff3946;
}

.button {
    border: 0.2em solid #ff3946;
    padding: 1em 3em;
    background-color: #f0f0f0;
    border-radius: 0.5em;
}

.banner section h1 {
    color: #314584;
    font-size: 3.5em;
    z-index: 4;
    position: absolute;
}

.banner section .first-row {
    top: 0;
    left: 0;
}

.banner section .second-row {
    margin-top: 2.8em;
    top: 0;
    left: 0;
}

.banner .text p,
.links {
    align-items: center;
    justify-content: center;
    padding: 2.5em 0;
    color: grey;
}

.banner {
    display: flex;
    padding: 4em 0 4em 5em;
}

.pic {
    padding-right: 0em;
    display: flex;
    flex-grow: 1;
}

.text {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    z-index: 4;
    width: 55%;
}

img {
    width: 100%;
    height: auto;
}

.links {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

.links a {
    padding: 1em;

    border-radius: 2em;
    padding: 1em 2em;
    box-shadow: 1px 25px 37px -12px rgba(0, 0, 0, 0.3);
}

.links .left {
    background-color: #ff3946;
    color: white;
}

.links .right {
    background-color: white;
}

.shadow {
    margin: 0.4em;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.05);
    border-radius: 0.5em;
}

.design,
.development {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em;
}

.design .web-pic,
.development .dev-pic {
    width: 20%;
}

.design .design-text,
.development .design-text {
    padding-top: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 0.1em;
}

.mid-section-text {
    padding-top: 1em;
    color: grey;
}

.baloon-line {
    width: 23%;
    position: absolute;
}

.left-side {
    top: 31%;
    left: -7%;
}

.right-side {
    top: 47%;
    right: -7%;
}

.our-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4em 4em 2em 4em;
}

.our-company img {
    width: 35%;
    height: auto;
    margin-bottom: 2em;
}

h2 {
    margin: 0;
    padding-bottom: 0.5em;
    font-size: 2.5em;
}

h2 ~ h2 {
    padding-bottom: 1em;
}

.our-company .grey {
    width: 55ch;
    color: grey;
    padding-bottom: 4em;
}

.our-company form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.our-company form h2 {
    padding: 1em;
}

.our-company form input,
.our-company form textarea {
    background-color: #314584;
    border-radius: 1em;
    padding: 0.8em;
}

.our-company form textarea {
    min-height: 8em;
}

::placeholder {
    color: white;
    font-size: 0.8em;
}

footer {
    background-color: #314584;
    color: #f0f0f0;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 4em 2em 4em;
}

footer p {
    font-weight: 300;
    font-size: 0.7em;
}

footer ul {
    display: flex;
    gap: 2em;
}

footer ul li {
    display: block;
}

footer ul li a {
    color: #f0f0f0;
}
